*{
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: Arial, sans-serif;
}

li{
  list-style: none;  
}

body{
    background-color: rgb(83,131,232);
}

.logo span {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 900;
    cursor: pointer;
}

.header-nav img {
    width: 24px;
    height: 24px;
}

.header-div {
    background-color: rgb(40, 52,78);
    min-width: 1200px;
}

.header-div2 {
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    margin-right: 60%;
    cursor: pointer;
}

.header-nav li {
    font-size: 0.7em;
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
}

.header-nav li:hover{
    color: rgb(83,131,232);
}

.weather span {
    font-size: 12px;
}

.weather {
    align-self: center;
}

.navbar{
    min-width: 1200px;
}

.navbar-2 {
    display: flex;
    justify-content: space-around;
    height: 50px;
}

.navbar-2 ul {
    display: flex;
}

.navbar-2 li {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 16px;
    color: rgb(162, 192, 251);
    align-self: center;
    cursor: pointer;
    padding-bottom: 3px;
}

.navbar-2 li:hover{
    color: #fff;
    border-bottom: 3px solid #fff;
}

.patch {
    width: 142px;
    height: 32px;
    background-color: rgb(65, 113, 214);
    border-radius: 15px; 
    align-self: center;
}

.patch a {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 32px;
    cursor: pointer;
}

.patch a p {
    font-size: 12px;
    color: rgb(254, 236, 154);
    font-weight: 700;   
}

.patch span {
    font-size: 12px;
}

.subnavbar {
    height: 40px;
    background-color: rgb(255, 185, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.subnavbar span {
    font-size: 14px;
    color: #000;
}

.subnavbar a{
    width: 60vw;
}

.container{
    width: 1080px;
    margin: 0 auto;
}

.main-container{
    width: 370px;
    margin: 0 auto;
}

.img-container{
    text-align: center;
    margin-top: 5%;
    overflow: hidden;
    white-space: nowrap;
}

.img-container img{
    width: 370px;
    height: 220px;
    /* transform: translate(-100%); */
}

.radio-buttons{
    text-align: center;
}

.radio-buttons input{
    display: none;
}

.serch-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serch{
    width: 300px;
    height: 50px;
    background-color: #fff;
}
